In [2]:

from __future__ import print_function
import os
data_path = ['data']

In [3]:
import pandas as pd

# Import the data using the file path
filepath = os.sep.join(data_path + ['predictive_maintenance.csv'])
data = pd.read_csv('predictive_maintenance.csv')
data

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [4]:
data.drop(['Failure Type','Type'], axis=1, inplace=True)
data

,UDI,Product ID,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
0,1,M14860,298.1,308.6,1551,42.8,0,0
1,2,L47181,298.2,308.7,1408,46.3,3,0
2,3,L47182,298.1,308.5,1498,49.4,5,0
3,4,L47183,298.2,308.6,1433,39.5,7,0
4,5,L47184,298.2,308.7,1408,40.0,9,0
...,...,...,...,...,...,...,...,...
9995,9996,M24855,298.8,308.4,1604,29.5,14,0
9996,9997,H39410,298.9,308.4,1632,31.8,17,0
9997,9998,M24857,299.0,308.6,1645,33.4,22,0
9998,9999,H39412,299.0,308.7,1408,48.5,25,0
9999,10000,M24859,299.0,308.7,1500,40.2,30,0

In [5]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()

for col in ['Product ID']:
    data[col] = lb.fit_transform(data[col])

data

/opt/intel/oneapi/intelpython/latest/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

,UDI,Product ID,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
0,1,0,298.1,308.6,1551,42.8,0,0
1,2,0,298.2,308.7,1408,46.3,3,0
2,3,0,298.1,308.5,1498,49.4,5,0
3,4,0,298.2,308.6,1433,39.5,7,0
4,5,0,298.2,308.7,1408,40.0,9,0
...,...,...,...,...,...,...,...,...
9995,9996,0,298.8,308.4,1604,29.5,14,0
9996,9997,0,298.9,308.4,1632,31.8,17,0
9997,9998,0,299.0,308.6,1645,33.4,22,0
9998,9999,0,299.0,308.7,1408,48.5,25,0
9999,10000,0,299.0,308.7,1500,40.2,30,0

In [6]:
import warnings
warnings.filterwarnings('ignore', module='sklearn')

In [7]:
from sklearn.preprocessing import MinMaxScaler

msc = MinMaxScaler()

data = pd.DataFrame(msc.fit_transform(data),  
                    columns=data.columns)
data

,UDI,Product ID,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
0,0.0000,0.0,0.304348,0.358025,0.222934,0.535714,0.000000,0.0
1,0.0001,0.0,0.315217,0.370370,0.139697,0.583791,0.011858,0.0
2,0.0002,0.0,0.304348,0.345679,0.192084,0.626374,0.019763,0.0
3,0.0003,0.0,0.315217,0.358025,0.154249,0.490385,0.027668,0.0
4,0.0004,0.0,0.315217,0.370370,0.139697,0.497253,0.035573,0.0
...,...,...,...,...,...,...,...,...
9995,0.9996,0.0,0.380435,0.333333,0.253783,0.353022,0.055336,0.0
9996,0.9997,0.0,0.391304,0.333333,0.270081,0.384615,0.067194,0.0
9997,0.9998,0.0,0.402174,0.358025,0.277648,0.406593,0.086957,0.0
9998,0.9999,0.0,0.402174,0.370370,0.139697,0.614011,0.098814,0.0
9999,1.0000,0.0,0.402174,0.370370,0.193248,0.500000,0.118577,0.0

In [8]:
x_cols = [x for x in data.columns if x != 'Product ID']

# Split the data into two dataframes
X_data = data[x_cols]
y_data = data['Product ID']
X_data
y_data

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Product ID, Length: 10000, dtype: float64

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

knn = knn.fit(X_data, y_data)

y_pred = knn.predict(X_data)

In [10]:
def accuracy(real, predict):
    return sum(y_data == y_pred) / float(real.shape[0])





print(accuracy(y_data, y_pred))

0.9999